@page "/counter"

<CustomPageTitle Title="Contador"></CustomPageTitle>

<h1>Contador</h1>

<p role="status">Contagem atual: @_currentCount</p>
<br/>

<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="IncrementCount">Clique</MudButton>

@code {
    private int _currentCount;

    private void IncrementCount()
    {
        _currentCount++;
    }

}